<div class="top-main-fondamix">
  <!-- Begin page content -->
</div>

<div class="large-6 columns">
  <!--Account-->
  <div class="your-account">
    <div class="row">
      <div class="medium-3 columns">
        <div class="circlestat" data-dimension="90" data-text="55%" data-width="10" data-fontsize="16" data-percent="55" data-fgcolor="#CDDC39" data-border="10" data-bgcolor="#eee" data-fill="#FFF"></div>
      </div>
      <div class="medium-9 columns ">
        <div>
          <h4>ML PIB Agostinho Porto</h4>
          <h6>São João de Meriti - Rio de Janeiro - Brasil</h6>
          <ul>
            <li><i class="text-white palette-Orange-700 bg ti-pie-chart"></i> 2.789</li>
            <li><i class="text-white palette-Pink-700 bg ti-stats-down"></i>4.365</li>
            <li><i class="palette-Cyan-700 bg text-white ti-bar-chart"></i>9.860 </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!--End of Account-->
  <!-- Even Item -->
  <div class="box no-shadow">
    <div class="box-body" style="display: block;">
      <div class="events-nest">
        <div class="text-white lastest-post-nest">
          <div> <small class="palette-Teal-400 bg"><i class="text ti-notepad"></i></small>
            <h4>Músicas Agendadas</h4> <span><i class="ti-eye"></i> 121</span> <span><i class="ti-thumb-up"></i>45</span> <span><i class="ti-comment-alt"></i> 8</span></div>
        </div>
        <ul>
          <li>
            <h4><span>Ministério Sarando a Terra Ferida</span><small>10/06/18</small></h4>
            <h3>Deus do Secreto</h3>
            <hr> </li>
          <li>
            <h4><span>Aline Barros</span><small>10/06/18</small></h4>
            <h3>Jesus Cristo mudou meu viver</h3>
            <hr> </li>
          <li>
            <h4><span>Vineyard</span><small>10/06/18</small></h4>
            <h3>Me derramar</h3>
            <hr> </li>
          <li>
            <h4><span>Renascer Praise</span><small>10/06/18</small></h4>
            <h3>1000 graus</h3> </li>
        </ul>
      </div>
    </div>
    <!-- /.box-body -->
  </div>
  <!-- End of Even Item -->
</div>
<div class="row" style="margin-top:-20px">
  <div class="large-6 columns">
    <!--SUMMARY-->
    <div class="box box-no-shadow">
      <div style="margin:0 0 45px" class="row summary-border-top">
        <div class="large-6 columns">
          <div class="summary-nest">
            <h2 class="text-black "><span class="counter-up">164</span></h2>
            <p>Músicas tocadas este ano</p>
          </div>
        </div>
        <div class="large-6 columns summary-border-left">
          <div class="summary-nest">
            <h2 class="text-black"><span class="counter-up">13</span></h2>
              <p>Músicas tocadas este mês</p>
          </div>
        </div>
      </div>
    </div>
    <!--end of SUMMARY-->

    <div class="box box-no-shadow bg-widget-random">
      <!-- /.box-header -->
      <div class="box-header bg-transparent">
        <h3 class="box-title"><i class="text-white ti-control-play"></i>
          <span class="text-white ">MÚSICAS MAIS TOCADAS</span>
        </h3>
      </div>
      <div style="margin:15px 0 0" class="box-body">
        <div class="stats-wrap">
          <h4>
            <b class="text-white">Pra Sempre</b>
            <span style="background:#666;" ><b class="counter-up">20</b>x</span>
          </h4>
          <p class="text-grey">Ministério Avivah<small>Last played: 08/Jun/2018</small></p>
          <h4>
            <b class="text-white">Grande é o Senhor</b>
            <span style="background:#666;" ><b class="counter-up">13</b>x</span>
          </h4>
          <p class="text-grey">Adhemar de Campos<small>Last played: 05/Mai/2018</small></p>
          <h4>
            <b class="text-white">A Pedra Espiritual</b>
            <span style="background:#666;" ><b class="counter-up">13</b>x</span>
          </h4>
          <p class="text-grey">Cláudio Claro e Tabernáculo de Davi<small>Last played: 18/Fev/2018</small></p>
        </div>
      </div>
      <!-- /.box-body -->
    </div>

    <!--USER-->
    <!--Page Views-->
    <div class="row">
      <div class="large-6 columns">
        <!--New User-->
        <div class="box palette-Yellow-800 bg">
          <div class="box-header  palette-Yellow-800 bg">
            <!-- tools box -->
            <div class="pull-right text-white box-tools">
              <span class="text-white box-btn"><i class="circle-nest-medium ti-user"></i></span>
              &nbsp;&nbsp;&nbsp;
            </div>
            <h3 class="box-title">
              <span class="text-white">&nbsp;&nbsp;&nbsp;NEW USER</span>
            </h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body no-pad" style="display: block;">
            <div class="events-nest ">
              <div class="wrap-no-pad text-white">
                <h1 class="text-white"><b class="counter-up-fast">390</b></h1> <span>Users</span>
                <p>65%</p>
                <br> </div>
            </div>
          </div>
          <!-- /.box-body -->
        </div>
        <!--end of New User-->
      </div>
      <div class="large-6 columns">
        <!--facebook-->
        <div class="box palette-Cyan-400 bg">
          <div class="box-header  palette-Cyan-400 bg">
            <!-- tools box -->
            <div class="pull-right text-white box-tools"> <span class="text-white box-btn"><i class="circle-nest-medium ti-stats-up"></i>
                                    </span>&nbsp;&nbsp;&nbsp; </div>
            <h3 class="box-title">
              <span class="text-white">&nbsp;&nbsp;&nbsp;PAGE VIEWS</span>
            </h3> </div>
          <!-- /.box-header -->
          <div class="box-body no-pad" style="display: block;">
            <div class="events-nest ">
              <div class="wrap-no-pad text-white">
                <h1 class="text-white"><b class="counter-up-fast">294</b></h1> <span>Users</span>
                <p>65%</p>
                <br> </div>
            </div>
          </div>
          <!-- /.box-body -->
        </div>
        <!--end of facebook-->
      </div>
    </div>
    <!--End Of Page Views-->
    <!--end of USER-->
  </div>
  <!--End of Right Side-->
</div>