<div id="skin-select" style="width:260px;">
  <!-- Toggle sidemenu button -->
  <a id="toggle" class=""> </a>
  <!-- End of Toggle sidemenu button -->
  <div class="skin-part" style="visibility: visible;">
    <div id="tree-wrap">

      <!-- Profile -->
      <div class="profile">
        <%= image_tag 'yeti.svg' %>
        <h3 style="display: block;">Songbook<small>ADMIN</small></h3>
      </div>
      <!-- End of Profile -->

      <!-- Menu sidebar begin-->
      <div class="side-bar">
        <ul id="menu-showhide" class="topnav slicknav" style="height: auto; margin: -13px 0px 0px;">
          <li style="text-align: left;">
            <a id="menu-select" class="tooltip-tip tooltipster-disable" href="http://ndesaintheme.com/fondamix/index.html" title="Dashboard">
              <i class="palette-Deep-Purple-700 bg ti-desktop" style="top: 0px; left: -15px; padding: 8px 0px;"></i>
              <span style="display: inline-block; float: none;">Dashboard</span> </a>
          </li>

          <li style="text-align: left;">
            <a class="tooltip-tip tooltipster-disable" href="http://ndesaintheme.com/fondamix/#">
              <i class="palette-Indigo-700 bg ti-music" style="top: 0px; left: -15px; padding: 8px 0px;"></i>
              <span style="display: inline-block; float: none;">Songs<small class="side-menu-noft">New</small></span>
              <h4 style="display: inline-block; float: none;"><b class="fa fa-circle"></b></h4></a>
              <ul>
                <li> <a href="sidebar-fixed.html">Sidebar Fixed</a> </li>
                <li> <a href="all-fixed.html">All Fixed</a> </li>
              </ul>
          </li>

          <li style="text-align: left;">
            <a class="tooltip-tip tooltipster-disable" href="http://ndesaintheme.com/fondamix/#" title="Mail">
              <i class="palette-Cyan-700 bg ti-paint-roller" style="top: 0px; left: -15px; padding: 8px 0px;"></i>
              <span style="display: inline-block; float: none;">Skin</span>
              <h4 style="display: inline-block; float: none;"><b class="fa fa-circle"></b></h4></a>
            <ul style="border-radius: 0px; padding: 15px 25px;">
              <li style="text-align: left;">
                <a href="http://ndesaintheme.com/fondamix/blue-skin.html" title="Black Skin">Blue Skin</a></li>
              <li style="text-align: left;">
                <a href="http://ndesaintheme.com/fondamix/white-skin.html" title="White Skin">White Skin</a></li>
              <li style="text-align: left;">
                <a href="http://ndesaintheme.com/fondamix/purple-skin.html" title="Blue Skin">Purple Skin</a></li>
            </ul>
          </li>

          <li style="text-align: left;">
            <a class="tooltip-tip tooltipster-disable" href="http://ndesaintheme.com/fondamix/#" title="Mail">
              <i class="intial palette-Blue-700 bg ti-email" style="top: 0px; left: -15px; padding: 8px 0px;"></i>
              <span style="display: inline-block; float: none;">mail</span>
              <h4 style="display: inline-block; float: none;"><b class="fa fa-circle"></b></h4></a>
            <ul style="border-radius: 0px; padding: 15px 25px;">
              <li style="text-align: left;"><a href="http://ndesaintheme.com/fondamix/mail.html" title="Inbox">Inbox
                <div class="noft-blue bg-red" style="display: inline-block; float: none;">256</div>
              </a></li>
              <li style="text-align: left;">
                <a href="http://ndesaintheme.com/fondamix/compose.html" title="Compose">Compose</a></li>
            </ul>
          </li>

          <li style="text-align: left;">
            <a href="http://ndesaintheme.com/fondamix/#">
              <i class="intial palette-Blue-900 bg ti-write" style="top: 0px; left: -15px; padding: 8px 0px;"></i>
              <span style="display: inline-block; float: none;">Page&nbsp;
                                    <small class="side-menu-noft bg-blue">hot</small></span>
              <h4 style="display: inline-block; float: none;"><b class="fa fa-circle"></b></h4></a>
            <ul style="border-radius: 0px; padding: 15px 25px;">

              <li style="text-align: left;">
                <a href="http://ndesaintheme.com/fondamix/blog-list.html">Blog List</a></li>
              <li style="text-align: left;">
                <a href="http://ndesaintheme.com/fondamix/blog-detail.html">Blog Detail</a></li>
              <li style="text-align: left;"><a href="http://ndesaintheme.com/fondamix/gallery.html">Gallery</a>
              </li>
              <li style="text-align: left;">
                <a href="http://ndesaintheme.com/fondamix/calendar.html" title="Calender">Calendar</a></li>
              <li style="text-align: left;">
                <a href="http://ndesaintheme.com/fondamix/master.html" title="Chart">Blank Page</a></li>
            </ul>
          </li>
          <li style="text-align: left;">
            <a class="tooltip-tip tooltipster-disable" href="http://ndesaintheme.com/fondamix/#" title="UI">
              <i class="intial palette-Teal-600 bg ti-vector" style="top: 0px; left: -15px; padding: 8px 0px;"></i>
              <span style="display: inline-block; float: none;">UI&nbsp;
                                    <small class="side-menu-noft">new</small></span>
              <h4 style="display: inline-block; float: none;"><b class="fa fa-circle"></b></h4></a>
            <ul style="border-radius: 0px; padding: 15px 25px;">
              <li style="text-align: left;">
                <a href="http://ndesaintheme.com/fondamix/element.html" title="Element">Element</a></li>
              <li style="text-align: left;"><a href="http://ndesaintheme.com/fondamix/button.html" title="Button">
                Button
              </a></li>
              <li style="text-align: left;">
                <a href="http://ndesaintheme.com/fondamix/tab.html" title="Tab &amp; Accordion">Tab &amp;
                  Accordion</a></li>
              <li style="text-align: left;">
                <a href="http://ndesaintheme.com/fondamix/typography.html" title="Typography">

                  Typography
                </a></li>
              <li style="text-align: left;">
                <a href="http://ndesaintheme.com/fondamix/panel.html" title="panel">Panel</a></li>
              <li style="text-align: left;">
                <a href="http://ndesaintheme.com/fondamix/grids.html" title="Grids">Grids</a></li>
              <li style="text-align: left;">
                <a href="http://ndesaintheme.com/fondamix/chart.html" title="Chart">Chart</a></li>
            </ul>
          </li>
          <li style="text-align: left;">
            <a href="http://ndesaintheme.com/fondamix/#">
              <i class="intial palette-Green-700 bg ti-layers-alt" style="top: 0px; left: -15px; padding: 8px 0px;"></i>
              <span style="display: inline-block; float: none;">Form&nbsp;  <small class="side-menu-noft">new</small></span>
              <h4 style="display: inline-block; float: none;"><b class="fa fa-circle"></b></h4></a>
            <ul style="border-radius: 0px; padding: 15px 25px;">
              <li style="text-align: left;">
                <a href="http://ndesaintheme.com/fondamix/form-element.html" title="Form Elements">Form
                  Elements</a></li>
              <li style="text-align: left;">
                <a href="http://ndesaintheme.com/fondamix/andvance-form.html" title="Andvance Form">Andvance
                  Form</a></li>
              <li style="text-align: left;">
                <a href="http://ndesaintheme.com/fondamix/text-editor.html" title="Text Editor">Text Editor</a>
              </li>
              <li style="text-align: left;">
                <a href="http://ndesaintheme.com/fondamix/file-upload.html" title="File Upload">File Upload</a>
              </li>
            </ul>
          </li>
          <li style="text-align: left;">
            <a href="http://ndesaintheme.com/fondamix/#">
              <i class="intial palette-Lime-700 bg ti-harddrives" style="top: 0px; left: -15px; padding: 8px 0px;"></i>
              <span style="display: inline-block; float: none;">Tables</span>
              <h4 style="display: inline-block; float: none;"><b class="fa fa-circle"></b></h4></a>
            <ul style="border-radius: 0px; padding: 15px 25px;">
              <li style="text-align: left;">
                <a href="http://ndesaintheme.com/fondamix/table-static.html" title="Table Static">Table Static</a>
              </li>
              <li style="text-align: left;">
                <a href="http://ndesaintheme.com/fondamix/table-dynamic.html" title="Table Dynamic">Table
                  Dynamic</a></li>
            </ul>
          </li>
          <li style="text-align: left;">
            <a class="tooltip-tip tooltipster-disable" href="http://ndesaintheme.com/fondamix/icon.html" title="Icons">
              <i class="intial palette-Orange-700 bg ti-zip" style="top: 0px; left: -15px; padding: 8px 0px;"></i>
              <span style="display: inline-block; float: none;">Icons</span> </a>
          </li>
          <li style="text-align: left;">
            <a class="tooltip-tip tooltipster-disable" href="http://ndesaintheme.com/fondamix/#" title="Extra">
              <i class="palette-Pink-700 bg ti-gift" style="top: 0px; left: -15px; padding: 8px 0px;"></i>
              <span style="display: inline-block; float: none;">Extra</span>
              <h4 style="display: inline-block; float: none;"><b class="fa fa-circle"></b></h4></a>
            <ul style="border-radius: 0px; padding: 15px 25px;">
              <li style="text-align: left;">
                <a href="http://ndesaintheme.com/fondamix/invoice.html" title="Invoice">Invoice</a></li>
              <li style="text-align: left;">
                <a href="http://ndesaintheme.com/fondamix/pricing_table.html" title="Pricing Table">Pricing
                  Table</a></li>
              <li style="text-align: left;">
                <a href="http://ndesaintheme.com/fondamix/time-line.html" title="Time Line">Time Line</a></li>
              <li style="text-align: left;">
                <a href="http://ndesaintheme.com/fondamix/login.html" title="Chart">Login</a></li>
              <li style="text-align: left;">
                <a href="http://ndesaintheme.com/fondamix/map.html" title="Lock Screen">Map</a></li>
              <li style="text-align: left;">
                <a href="http://ndesaintheme.com/fondamix/404.html" title="404 Error Page">404 Error Page</a></li>
              <li style="text-align: left;">
                <a href="http://ndesaintheme.com/fondamix/500.html" title="500 Error Page">500 Error Page</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- end of Menu sidebar  -->
      <!--bottom chat-->
      <ul class="chat-list-menu">
        <li style="text-align: left; display: block;">Direct Message (10)
          <i class="ti-arrow-circle-down" style="top: 0px; left: -15px; padding: 8px 0px;"></i></li>
        <li class="online" style="text-align: left; display: block;">
          <small class="ti-control-record"></small>
          Themesmile (You)
        </li>
        <li class="online" style="text-align: left; display: block;">
          <small class="ti-control-record"></small>
          IamUcil
        </li>
        <li style="text-align: left; display: block;">
          <small class="ti-control-record"></small>
          Yudha
        </li>
        <li style="text-align: left; display: block;">
          <small class="ti-control-record"></small>
          Nady
        </li>
        <li style="text-align: left; display: block;">
          <small class="ti-control-record"></small>
          Andre
        </li>
        <li style="text-align: left; display: block;">
          <small class="ti-control-record"></small>
          Gloria
        </li>
        <li class="online" style="text-align: left; display: block;">
          <small class="ti-control-record"></small>
          Destya
        </li>
        <li style="text-align: left; display: block;">
          <small class="ti-control-record"></small>
          Yuanita
        </li>
        <li style="text-align: left; display: block;">
          <small class="ti-control-record"></small>
          Ari
        </li>
        <li style="text-align: left; display: block;">
          <small class="ti-control-record"></small>
          Dhanie
        </li>
      </ul>
      <!--end of bottom chat-->
      <ul class="bottom-list-menu">
        <li style="text-align: left; display: block;">Settings
          <small class="ti-settings"></small>
        </li>
        <li style="text-align: left; display: block;">Help
          <small class="ti-flag-alt-2"></small>
        </li>
        <li style="text-align: left; display: block;">About Edumix
          <small class="ti-infinite"></small>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- end of Rightsidemenu -->