<%= form_for @group do |f| %>
  <div class="row">
    <div class="large-12 columns">

      <!--Form ITEM-->
      <div class="box no-shadow ">

        <div class="box-body">
          <div class="row">
            <div class="large-12 columns">
              <h5><span><i class="ti-view-list palette-Indigo-700 text"></i></span> Criar Novo Grupo</h5>
            </div>
            <div class="large-4 columns">
              <p>Insira nomes fáceis de serem procurados. Lembre-se: os membros do seu grupo podem encontrá-lo melhor se
                palavras chave forem utilizadas. <em>Exemplo: Coral Jovem da Igreja de Springfield</em></p>
            </div>
              <div class="large-8 columns">
                <form>
                  <div class="row">
                    <div class="medium-12 columns">
                      <label>Nome do grupo
                        <%= f.text_field :name, placeholder:'Insira o nome do grupo...'%>
                      </label>
                    </div>
                  </div>
                </form>
              </div>
              <%= f.submit class:'button'%>
          </div>
          <hr>
        </div>

      </div>
    </div>
  </div>
<%end%>