<% if @groups.blank? %>
  <div class="large-12 columns">
    <div class="alert callout">
      <h6><%= t('groups.no_groups_title')%></h6>
      <p><%= t('groups.no_groups_body')%></p>
    </div>
  </div>
  <div class="large-6 columns">
    <a class="button expanded" href="#">Solicitar inscrição</a>
  </div>
  <div class="large-6 columns">
    <a class="button expanded" href="<%=new_group_path%>">Criar grupo</a>
  </div>
<%end%>