<div id="page-title">
  <h2>Novo Grupo</h2>
  <p>Insira nomes fáceis de serem procurados.</p>
  <p>Lembre-se: os membros do seu grupo podem encontrá-lo melhor se
    palavras chave forem utilizadas. <em>Exemplo: Coral Jovem da Igreja de Springfield</em></p>
</div>

<%= render partial: 'form'%>